{% extends 'main/base.html' %}

{% block title %}
Столовая 4
{% endblock %}

{% block content %}
<div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
        <a
          href="/"
          class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
        >
          <svg
            class="bi me-2"
            width="40"
            height="32"
            role="img"
            aria-label="Bootstrap"
          >
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
        <ul
          class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
        >
          <li>
            <a href="{% url 'canteen' %}" class="nav-link px-2 link-body-emphasis">Столовые</a>
          </li>
          <li>
            <a href="{% url 'menu' %}" class="nav-link px-2 link-body-emphasis">Меню</a>
          </li>
          <li>
            <a href="{% url 'reviews' %}" class="nav-link px-2 link-body-emphasis">Отзывы</a>
          </li>
        </ul>
        <div class="dropdown text-end">
          <a
            href="#"
            class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://cdn-icons-png.flaticon.com/512/17246/17246491.png"
              alt="mdo"
              width="32"
              height="32"
              class="rounded-circle"
            />
          </a>
          <ul class="dropdown-menu text-small" style="">
            <li>
              <a class="dropdown-item" href="{% url 'settings' %}">Настройки</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'profile' %}">Профиль</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'exit' %}">Выход</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
<h1>Какая-то инфа про четвёртый рестик</h1>
{% endblock %}